 <div class="container">
      <div class="row">
        <aside class="col-md-12">
          <h2>404</h2>
        </aside>
        <section class="main col-md-9">
          <h2>Page not found</h2>
        </section>
      </div>
    </div>